<p>
  <%= f.label :instruction, "Step" %><br />
  <%= f.text_area :instruction, :rows => 3 %><br />
  <%= f.link_to_remove "remove" %>
</p> 
<%= f.fields_for :stepingrds %>
<p><%= f.link_to_add "Add Ing", :stepingrds %></p>
