<% title "Recipe" %>

<p>
  <strong>Name:</strong>
  <%= @recipe.title %>
</p>

<ol>
<% for step in @recipe.steps %>
  <li>
    <%= step.instruction %>
    <ul>
    <% for stepingrd in step.stepingrds %>
      <li><%= stepingrd.amount %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "Edit", edit_recipe_path(@reipce) %> |
  <%= link_to "Destroy", @recipe, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", recipes_path %>
</p> 
