<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @step.recipe_id %>
</p>

<p>
  <b>Instruction:</b>
  <%= @step.instruction %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
